
ipykernel==6.29.5
ipython==8.29.0
jupyter_client==8.6.3
jupyter_core==5.7.2
kaggle==1.6.17
matplotlib==3.9.3
matplotlib-inline==0.1.7
polars==1.12.0
psutil==6.1.0
pyarrow==18.0.0
scalene==1.5.48
scipy==1.14.1
torch==2.5.1
torch-summary==1.4.5
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.0